@mixin flex-center-XY($value: center) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: vertical;
  -moz-flex-direction: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media screen and (#{$size}) {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - invalid value'+ "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
