@import "variables.scss", "mixins.scss", "reset.scss", "buttons.scss",
  "canvas.scss";

.wrapper {
  @include flex-center-XY(center);
  height: 100vh;
  width: 100%;

  background-image: url("../img/cool-background.png");
  background-size: cover;
  .app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    width: 90%;
    height: 85%;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.app__main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
  text-align: justify;
  padding: 0 5%;
  font-size: 1.2em;
}

.app__stats {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.app__heading {
  @include flex-center-XY;
  flex-grow: 1;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 4px 4px 6px rgba(66, 68, 90, 0.7);
  transform: rotate(-4deg);
  padding: 0 2%;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
}

.fa-spinner {
  font-size: 40px;
}

.unactive {
  opacity: 0.5;
  pointer-events: none;
}
.bold {
  font-weight: bold;
}
.input-capital-city {
  cursor: pointer;
  &:checked {
    accent-color: darken($primary-color, 5%);
    & + .label-capital-city {
      font-weight: bold;
      color: darken($primary-color, 5%);
    }
  }
  &:hover + .label-capital-city {
    color: lighten($primary-color, 70%);
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 0.4);
  }
}

.label-capital-city {
  transition: 0.2s;
  font-size: 1.3em;
  cursor: pointer;
  &:hover {
    color: lighten($primary-color, 70%);
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 0.4);
  }
}

@keyframes glow-incorrect {
  from {
    text-shadow: 0px 0px 1px rgba(66, 68, 90, 0.4);
  }
  to {
    text-shadow: 0px 0px 1px 1px #f40;
  }
}

@keyframes glow-correct {
  from {
    text-shadow: 0px 0px 1px rgba(66, 68, 90, 0.4);
  }
  to {
    text-shadow: 0px 0px 1px 1px #00971e;
  }
}

.bold--incorrect {
  color: #f40;
  text-shadow: 4px 4px 6px rgba(66, 68, 90, 0.4);
  -webkit-animation: glow-incorrect 1s ease-in-out infinite alternate;
  -moz-animation: glow-incorrect 1s ease-in-out infinite alternate;
  animation: glow-incorrect 0.9s ease-in-out infinite alternate;
}

.bold--correct {
  color: #00971e;
  text-shadow: 4px 4px 6px rgba(66, 68, 90, 0.4);
  -webkit-animation: glow-correct 1s ease-in-out infinite alternate;
  -moz-animation: glow-correct 1s ease-in-out infinite alternate;
  animation: glow-correct 0.9s ease-in-out infinite alternate;
}
